name: graceful_http_request
description: A Flutter package that provides standardized HTTP request handling with controlled timing behavior.
version: 1.0.1
homepage: https://github.com/moezshakeri/graceful_http_request
repository: https://github.com/moezshakeri/graceful_http_request

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  mocktail: ^1.0.0

flutter:
  uses-material-design: false
